# DO NOT COMMIT THIS FILE TO GIT!
# This file contains sensitive information

# Database connection
DATABASE_URL=postgresql://user:password@localhost:5432/recomserve

# Example:
# DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/recomserve
